/Espionage Sorter/obj

/Espionage Sorter/bin/Debug
/Espionage Sorter/bin/Release/Espionage Sorter.pdb
/Espionage Sorter/bin/Release/Espionage Sorter.vshost.exe
/Espionage Sorter/bin/Release/Espionage Sorter.vshost.exe.manifest
/Espionage Sorter/bin/Release/Espionage Sorter.xml
/Espionage Sorter/bin/Release/Settings.txt
/Espionage Sorter.v11.suo
/Espionage Sorter/Espionage Sorter.suo
/Espionage Sorter/Espionage Sorter.v11.suo
